body {
	font-family: helvetica,arial,sans-serif;
	background-image:url("http://www.tiptheme.com/wp-content/uploads/2015/07/paper-background-7.jpg");
}
canvas {
	display: block;
	//border:2px solid;
	background: #fff;
	border-radius:10px;
	float:left;
}
.col1 .co,.col2 .co{
	display:inline-block;
	height:20px;
	width:20px;
	margin:3px 3px;
	border-radius:10px;
	border:2px solid;
}
.Acol{
	background-color:#fff;
	border:2px solid;
	margin:5px 5px;
	border-radius:7px;
	padding:1px 1px;
	float:left;
}
.col1,.col2{
	padding:0px 0px;
	margin:0px 0px;
}
.cap{
    background-color:#fff;
    margin:5px 5px;
    padding:3px 3px;
	border-radius:7px;
	border:2px solid;
	float:left;
}
#round,#square,#butt{
	display:inline-block;
	background-color:#111;//border-color:maroon;//border-width: 15px;
}
#round{
	border-radius:20px;
    height:20px;
    width:20px;
    padding:10px 10px;
    margin:0px 0px;
}
#square{
    height:20px;
    width:20px;
    padding:10px 10px;
    margin:0px 0px;
}
button{
    background-color: gray;
    border-style: solid;
    border-radius: 5px;
    border-width: 1.5px;
    border-color: #742222;
    color: black;
    padding: 5px;
}
button:hover{
    background-color: #742222;
    color: white;
}
#butt{
    height:12px;
    width:20px;
    padding:0px 10px;
    margin:15px 1px;
}
input[type=range] {
	-webkit-appearance: none;
	width: 30%;
	height:50px;
	margin: 5px 5px;
    background-color:#FFF;
	padding:1px 5px;
	border-radius:7px;
	border:2px solid;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 0.3px;
	border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}
.tool {
    width: 100px;
    height: 100px;
    cursor: pointer;
}
